<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.tsin.launcher_icons_gui.launcher_icons_gui">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
